/* Карточки progress-cards */

.progress-cards {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.progress-card-item {
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover {
    .progress-cards-top-text {
      transform: translateY(0%);
    }
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 3 * 30px) / 3);
    margin-left: 30px;
  }
}

.progress-card-bottom {
  padding: 20px 0 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.progress-cards-title {
  margin-bottom: 4px;
}

.progress-cards-title {
  @include font(500, 16px, 1.62);
  color: var(--title-text-color);
}

.progress-card-top-box {
  position: relative;
  overflow: hidden;
}

.progress-cards-top-text {
  font-family: Roboto;
  @include font(normal, 18px, 1.56);
  color: #ffffff;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  top: 0;
  left: 0%;
  overflow: auto;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.progress-cards-title-description {
  @include font(normal, 16px, 1.87);
}
