// ==========mobmenu=======

.mobmenu.is-open {
  transform: translateX(0);
  transition: transform 1000ms;
}

.mobmenu {
  background-color: var(--primary-bcg);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(100%);
  transition: transform 1000ms;
}

.mob-site-nav-item {
  @include font(500, 40px, 1.18);
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-bottom: 35px;
}

.mobmenu-btn-open {
  background-color: transparent;
  margin-left: auto;
  padding: 8px;
  border: 0;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobmenu-btn-close {
  position: absolute;
  top: 21px;
  right: 25px;
  &:hover,
  &:focus {
    color: var(--accent-text-color);
    cursor: pointer;
  }
}

.mobmenu-btn-icon {
  padding: 0;
  &:hover,
  &:focus {
    fill: var(--accent-text-color);
    cursor: pointer;
  }
}

.mobmenu-footer-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.mobmenu-tel {
  display: block;
  @include font(500, 34px, 1.17);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 32px;
  &:hover,
  &:focus {
    color: var(--accent-text-color);
    cursor: pointer;
  }
  @media screen and (max-width: 380px) {
    @include font(500, 24px, 1.2);
    letter-spacing: 0.02em;
  }
}

.mobmenu-mail {
  @include font(500, 24px, 1.17);
  letter-spacing: 0.02em;
  display: block;
  color: var(--primary-text-color);
  margin-bottom: 64px;
  &:hover,
  &:focus {
    color: var(--accent-text-color);
    cursor: pointer;
  }
}

.mobmenu-footer-list {
  display: flex;
  flex-wrap: wrap;
}

.mobmenu-footer-item {
  @include font(500, 18px, 1.22);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-right: 10px;
  padding-right: 10px;
  &:hover,
  &:focus {
    color: var(--accent-text-color);
    cursor: pointer;
  }
  @media screen and (max-width: 320px) {
    @include font(500, 16px, 1.2);
    letter-spacing: 0.02em;
  }
}

.mobmenu-footer-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
